.pageInside {
  display: grid;
  gap: 15px;
  background: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr) !important;
    align-items: center;
  }
  img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
  }
}
